html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-light: #fff;
  --color-blue: #3F2AFF;

}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2'),
    url('../fonts/MullerRegular.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2'),
    url('../fonts/MullerBold.woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegularItalic.woff2'),
    url('../fonts/MullerRegularItalic.woff');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2'),
    url('../fonts/MullerMedium.woff');
  font-display: swap;
  font-weight: 500;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  min-width: 320px;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-style: normal;
}

.list-reset {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

/* header */

.header__container {
  display: flex;
  padding-top: 34px;
  padding-bottom: 34px;

}

.nav__list {
  display: flex;
}

.header__nav {
  margin-right: auto;
}

.header__search {
  display: inline-block;
}

.header__search path {
  display: inline-block;
  transition: stroke 0.3s ease-in-out;
}

.header__search:focus {
  outline: none;
}

.header__search:focus path {
  stroke: #AA9DFA;
}

.header__search:hover path {
  stroke: #AA9DFA;
}

.header__search:active path {
  stroke: #4F28A5;
}

.header__logo {
  margin-right: 80px;
}

.nav__link {
  margin-right: 59px;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  color: #121723;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  color: #fff;
}

.nav__link:focus::after {
  outline: none;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #aa9dfa;
  z-index: -1;
}

.nav__link:hover {
  color: #6d31ee;
}

.nav__link:active {
  color: #4f28a5;
}

.nav__link:active::after {
  background-color: #fff;
}



/* hero */

.hero__container {
  padding-top: 21px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.hero__content {
  max-width: 55%;
  padding-top: 66px;
}

.hero__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: #121723;
}

.hero__title-italic {
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
  color: #121723;
}

.hero__descr {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121723;
}

.hero__btn {
  padding: 23px 54px;
  display: inline-block;
  border-radius: 40px;
  background: #6d31ee;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: 3px solid #4f28a5;
  background: #aa9dfa;
}

.hero__btn:hover {
  background: #aa9dfa;

}

.hero__btn:active {
  background: #4f28a5;
  outline: none;
}

/*podcasts */

.podcasts {
  background-color: #E6E8EC;
}

.podcasts__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #121723;
}

.podcasts__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.podcasts__item {
  max-width: 50%;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  position: relative;
  background-color: #fff;
  background-clip: content-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.podcasts__block {
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 30px;
}


.podcasts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  row-gap: 30px;
}

.podcasts__date {
  padding: 3px 8px;
  position: absolute;
  left: 14px;
  bottom: 0;
  background: #e6e8ec;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #121723;
}

.podcasts__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #121723;
}

.podcasts__time {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #121723;
}

.podcasts__author {
  font-weight: 400;
  font-size: 16px;
  color: #a1a6b4;
}

.podcasts__photo {
  height: 140px;
}

/* transfers */

.transfers__container {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  justify-content: space-between;
}

.transfers__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #121723;
}

.transfers__list {
  padding: 0;
  padding-top: 12px;
  row-gap: 27px;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
  margin-top: 0;
  list-style: none;
  max-width: 77%;
}

.transfers__item {
  box-sizing: border-box;
  font-size: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px
}

.transfers__archive {
  position: absolute;
  bottom: 97px;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/mic.png");
  background-repeat: no-repeat;
  padding-top: 111px;
}

.transfers__button {
  margin-bottom: 12px;
  padding: 9px 53px;
  border: 3px solid #121723;
  border-radius: 77px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #121723;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.transfers__button:focus {
  outline: none;
  background: #aa9dfa;
  border-color: #6d31ee;
  color: #fff;
}

.transfers__button:hover {
  border-color: #6d31ee;
  background: #6d31ee;
  color: #fff;
}

.transfers__button:active {
  border-color: #4f28a5;
  background: #4f28a5;
  color: #fff;
}

.transfers__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #a1a6b4;
}

.transfers__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #121723;
}

.transfers__shedule {
  margin: 0;
  margin-bottom: 18px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #a1a6b4;
}

.transfers__block {
  padding: 20px 16px;
  border: 1px solid #e6e8ec;
}

.transfers__link {
  padding-right: 24px;
  position: relative;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #121723;
  background-image: url("../img/Arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, background-image 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

.transfers__link:focus {
  color: #fff;
  background-image: url("../img/Arrow-focus.svg");
}

.transfers__link:focus::after {
  outline: none;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #aa9dfa;
  z-index: -1;
}

.transfers__link:hover {
  padding-right: 30px;
  color: #6d31ee;
  background-image: url("../img/Arrow-hover.svg");
}

.transfers__link:active {
  color: #4f28a5;
  background-image: url("../img/Arrow-active.svg");
}

.transfers__link:active::after {
  background-color: #fff;
}

/* guests */

.guests {
  background: #121723;
}

.guests__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #fff;
}

.guests__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.guests__name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.guests__descr {
  margin: 0;
  margin-bottom: auto;
  max-width: 95%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #a1a6b4;
}

.guests__text {
  margin: 0;
  margin-bottom: 48px;
  max-width: 70%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #a1a6b4;
}

.guests__text-bold {
  margin: 0;
  margin-bottom: 6px;
  display: block;
  font-weight: 700;
  font-size: 20px;

  line-height: 1.5;
  color: #a1a6b4;
}

.guests__container {
  padding-top: 94px;
  padding-bottom: 92px;
}

.guests__item {
  display: flex;
}

.guests__block {
  display: flex;
  flex-direction: column;
  max-width: 43%;
}

.guests__btn {
  padding: 10px 17px;
  border: 3px solid #aa9dfa;
  border-radius: 77px;
  align-self: flex-start;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #aa9dfa;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.guests__btn:focus {
  background: #6d31ee;
  outline: none;
  color: #fff;
  border-color: #6d31ee;
}

.guests__btn:hover {
  background: #aa9dfa;
  color: #fff;
}

.guests__btn:active {
  background: #4f28a5;
  color: #fff;
  border-color: #4f28a5;
}

.guests__photo {
  margin-right: 30px;
}

/* playlists */

.playlists__list {
  padding: 0;
  margin-top: 0;
  row-gap: 33px;
  padding-top: 13px;
  max-width: 68.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;
}

.playlists__text {
  display: flex;
  flex-direction: column;
  max-width: 27%;
}

.playlists__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #121723;
}

.playlists__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #a1a6b4;
}

.playlists__descr-copywright {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #a1a6b4;
}

.playlists__age {
  background-image: url("../img/18.svg");
  background-repeat: no-repeat;
  height: 30px;
}

.playlists__container {
  padding-top: 94px;
  padding-bottom: 78px;
  display: flex;
  justify-content: space-between;
}

.playlists__subtitle {
  margin: 0;
  margin-bottom: 2px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #121723;
}

.playlists__content {
  font-weight: 400;
  font-size: 12px;
  color: #a1a6b4;
}

.playlists__image {
  display: flex;
}

.playlists__block {
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  outline: 1px solid #e6e8ec;
  flex-grow: 1;
}

.playlists__card img {
  width: 100%;
}

.playlists__item {
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  font-size: 0;
}

/* shop */

.shop__container {
  padding-top: 94px;
  padding-bottom: 133px;
  display: flex;
  justify-content: space-between;
}

.shop__title {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #f0d288;
}

.shop__decor {
  margin-bottom: 19px;
  height: 12px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
}

.shop__descr {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.shop__descr-down {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.shop {
  background: #292e39
}

.shop__text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.shop__image {
  padding-top: 8px;
  max-width: 60%;
}

.shop__price {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.shop__btn {
  padding: 25px 11.5px 23px 38.5px;
  align-self: start;
  border: 2px solid #f0d288;
  border-radius: 100px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #f0d288;
  background-image: url("../img/yandex.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.shop__btn:focus {
  background-color: #bb973e;
  color: #121723;
  outline: none;
}

.shop__btn:hover {
  background-image: url("../img/yandex-hover.svg");
  background-color: #f0d288;
  color: #121723;
}

.shop__btn:active {
  background-color: #bb973e;
  outline: none;
  color: #121723;
  border-color: #bb973e;
}

/* about */

.about {
  background-color: #121723;
}

.about__container {
  padding-top: 94px;
  padding-bottom: 90px;
}

.about__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  color: #fff;
}

.about__descr-bold {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #a1a6b4;
}

.about__descr {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #a1a6b4;
}

.about__content {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 476px;
  background-image: url("../img/about_decor.svg");
  background-position: right center;
  background-repeat: no-repeat;
}

.about__name {
  padding-top: 27px;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.about__speakers {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  font-size: 0;

}

.about__speakers-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #a1a6b4;
}

.about__list {
  margin-bottom: 30px;
  margin-right: -15px;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form {
  max-width: 83%;
  display: flex;
  flex-direction: column;
}

.form__message::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #a1a6b4;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #a1a6b4;
}

.form__input-name::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #a1a6b4;
}

.form__message {
  padding: 29px 32px;
  margin-bottom: 30px;
  resize: none;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.form__message:focus {
  border: 1px solid #fff;
  background: #292e39;
  outline: none;
}

.form__message:hover {
  border: 1px solid #aa9dfa;
}

.form__message:active {
  border: 1px solid #fff;
}

.form__message:valid {
  background-color: #121723;
}

.form__input {
  padding: 25px 32px;
  width: 50%;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.form__input:focus {
  border: 1px solid #fff;
  background: #292e39;
  outline: none;
}

.form__input:hover {
  border: 1px solid #aa9dfa;
}

.form__input:active {
  border: 1px solid #fff;
}

.form__input:not(:placeholder-shown) {
  background-color: #121723;
}

.form__input-name {
  padding: 25px 32px;
  width: 50%;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.form__input-row {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.form__text {
  position: relative;
  border: 1px solid transparent;
  padding-left: 21px;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}

.form__btn {
  padding: 22px 54px;
  margin-bottom: 30px;
  border-radius: 40px;
  background: #6d31ee;
  align-self: flex-start;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.form__btn:focus {
  outline: 3px solid #4f28a5;
  background: #aa9dfa;
}

.form__btn:hover {
  background: #aa9dfa;

}

.form__btn:active {
  background: #4f28a5;
  outline: none;
}


.form__error {
  top: 8px;
  left: 30px;
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  color: #d52b1e;
  display: none;
}

.form__input-name:invalid:not(:placeholder-shown)+.form__error {
  display: block;
}


.form__input-name:valid+.form__error {
  display: none;
}

.form__input-name:focus {
  border: 1px solid #fff;
  background: #292e39;
  outline: none;
}

.form__input-name:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.form__input-name:valid {
  background-color: #121723;
}


.form__input-name:hover {
  border: 1px solid #aa9dfa;
}

.form__input-name:active {
  border: 1px solid #fff;
}


.form__checkbox {
  position: relative;
  user-select: none;
}

.form__checkbox-input {
  position: absolute;
  opacity: 0;
}

.form__text::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -2px;
  border: 1px solid currentColor;
  width: 14px;
  height: 14px;
}

.form__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 14px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form__checkbox-input:checked+.form__text::after {
  opacity: 1;
}


/* footer */

.footer {
  background: #292e39;
}

.footer__container {
  padding-top: 94px;
  padding-bottom: 92px;
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  width: 40%;
}

.footer__nav-block {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer__nav-block-mobile {
  display: none;
}

.footer__nav-item {
  display: inline-block;
  /* Или inline-flex */
}

.footer__nav-list {
  display: flex;
  max-height: 91px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 17px;
  align-content: space-between;
}

.footer__nav-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  z-index: 1;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.footer__nav-link:focus {
  outline: none;
  color: #fff;
}

.footer__nav-link:focus::after {
  outline: none;
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #aa9dfa;
  z-index: -1;
}

.footer__nav-link:hover {
  color: #6d31ee;
}

.footer__nav-link:active {
  color: #4f28a5;
}

.footer__nav-link:active::after {
  background-color: inherit;
}

.footer__logo {
  margin-bottom: 17px;
  display: inline-block;
}

.footer__socials {
  display: flex;
  gap: 26px;
  align-items: center;
}

.footer__social path {
  transition: fill 0.3s ease-in-out;
}

.footer__social:focus path {
  fill: #AA9DFA;
}

.footer__social:hover path {
  fill: #6D31EE;
}


.footer__social:active path {
  fill: #4F28A5;
}


.footer__wave {
  margin-bottom: 10px;
  height: 12px;
  background-image: url("../img/wave-footer.svg");
}

.footer__copyright {
  padding-bottom: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.03336;
  color: #a1a6b4;
}